.about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 14rem; }
  .about__box {
    display: flex;
    justify-content: space-between; }
  .about__text {
    font-size: 1.6rem;
    line-height: 1.6;
    width: 50%; }
  .about__image-box {
    width: 40%; }
    .about__image-box-img {
      width: 100%; }

.banner {
  background-color: #121b31;
  height: 82vh;
  background-image: linear-gradient(to right bottom, rgba(18, 27, 49, 0.8), rgba(153, 153, 153, 0.8)), url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  top: 14rem; }
  .banner__box {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem 0; }
  .banner__caption {
    font-size: 5.2rem;
    color: #dddddd; }
  .banner__tag {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background: #e41a3c;
    display: inline-block;
    padding: 1rem 2rem;
    margin: 2rem;
    border-radius: 3px; }

.footer {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #333;
  border-bottom: #f9e3c7 2px solid; }

.header {
  background-color: #121b31;
  height: 10rem;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 120; }
  .header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    font-size: 1.5rem; }

.main-section {
  width: 97%;
  min-height: 70vh;
  background-color: #fff;
  padding: 3rem; }

.navigation {
  background-color: #e41a3c;
  height: 4rem;
  margin-top: 10rem;
  position: fixed;
  z-index: 100;
  width: 100%; }
  .navigation__list {
    height: 4rem;
    display: flex;
    justify-content: center; }
  .navigation__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    width: 12rem;
    list-style: none;
    text-transform: uppercase;
    height: 100%; }
  .navigation__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #121b31;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s; }
  .navigation__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .navigation__link:link, .navigation__link:visited {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none; }

.projects {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e41a3c;
  border-bottom: #121b31 2px solid; }

.services {
  height: auto;
  padding: 2rem 0;
  background-color: #ececec; }
  .services__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .services__cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row; }
    .services__cards-item {
      width: 22rem;
      height: 30rem;
      margin: 3rem 0;
      padding: 2rem;
      background: #fff; }

.section-heading {
  font-size: 3rem;
  color: #e41a3c; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing cancels adding pixels to borders */ }

body {
  font-family: 'Quicksand', sans-serif; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  width: 112rem;
  margin: 0 auto; }
