.header {
  background-color: #121b31;
  height: 10rem;
  color: #fff; }
  .header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
    font-size: 1.5rem; }

.main-section {
  width: 97%;
  min-height: 70vh;
  background-color: #fff;
  padding: 3rem; }

.navigation {
  background-color: #ec4c37;
  height: 4rem; }
  .navigation__list {
    height: 4rem;
    display: flex;
    justify-content: center; }
  .navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    width: 10em;
    list-style: none;
    text-transform: uppercase;
    height: 100%; }
    .navigation__item:not(:last-child) {
      margin-right: 3rem; }
  .navigation__item:hover {
    background-color: #751d11; }
  .navigation__link:link, .navigation__link:visited {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    height: 4rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing cancels adding pixels to borders */ }

body {
  font-family: 'Quicksand', sans-serif; }

html {
  font-size: 62.5%; }

.container {
  width: 112rem;
  margin: 0 auto; }
