@mixin clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @mixin centeralign {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }