$color-navy: #121b31;
$color-coral: #ec4c37;
$color-eggshell: #f9e3c7;

$color-grey-light-1: #ececec;
$color-grey-light-2: rgb(221, 221, 221);
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;