.about {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem 0;
    

    &__box {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        font-size: 1.6rem;
        line-height: 1.6;
        $color: $color-grey-dark-3;
        width: 50%;

        padding: 2rem;
    }

    &__image-box {
        width: 40%;

        &-img {
            width: 100%;
        }
    }
}