.header {
    background-color: $color-navy;
    height: 10rem;
    color: $color-white;

    &__section {
        display: flex;
        height: 10rem;
        font-size: 1.5rem;

        justify-content: space-between;
        align-items: center;
    }
}