.services {
    height: auto;
    padding: 2rem 0;
    background-color: $color-grey-light-1;

    &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        &-item {
            width: 22rem;
            height: 30rem;
            margin: 3rem 0;
            padding: 2rem;
            background: $color-white;
        }
    }
}