.services {
  background-color: $color-grey-light-1;
  margin: 4rem 0;
  padding: 2rem 0;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  &__cards {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    &-item {
      width: 22rem;
      height: 30rem;
      margin: 0 1rem;
      padding: 2rem;
      background: $color-white;
      border-radius: 1rem;
      box-shadow: 0 1rem 2rem rgba($color-grey-dark-3, 0.2);
      @include respond(tab-port) {
        margin-bottom: 2rem;
      }

      &__image {
        width: 22rem;
        align-self: center;
      }

      &__title {
        text-align: center;
        color: $color-coral;
      }

      &__text {
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}
