*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* box-sizing cancels adding pixels to borders */
}

body {
    background-color: #333;
    margin: 10rem;
}

html {
    font-size: 62.5%;
}